@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --text-color:#667085;
    --main-color: #8e2424;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    width: 100%;
    height: 100vh;

}

nav {
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 1rem 0;
}
nav #bigbox{
    display: flex;
    align-items: center;
    gap:6rem;
}

nav #logo{
    display: flex;
    align-items: center;
    color: #3a404e;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    gap: 0.7rem;
}

nav img{
    width: 27px;
    height: 27px;
}

nav a{
    text-decoration: none;
    margin-right: 1.5rem;
    color: var(--text-color);   
}
nav #buttons{
    margin-left: 1rem;
}
nav button{
    padding: 0.8rem 1rem;
    cursor:pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    background: none;
    color: var(--text-color);
    font-size: 0.9rem;
}

nav button#btn2{
    background-color: var(--main-color);
    color:#fff;
}

section#cabecalho{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-evenly;
    height: 400px;
    padding-top:5rem;
}

section#cabecalho span{
    color: var(--main-color);
    font-weight: 600;
    font-size: 1rem;
       
}

section#cabecalho h1{
    font-weight: 600;
    font-size: 2.8rem;
    letter-spacing: 0.02em;
    margin-top: -1rem;
}

section#cabecalho p{
    color: var(--text-color);
    font-weight: 400;
    text-align: center;
    font-size:1.2em;
    width: 791px;
}